.button {
  width: 200px;
  background-color: #003366;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  font-family: Nunito;
  cursor: pointer;
  padding: 15px;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #014991;
}
